/*
*********************************************
Subject:  WST 155: Web Page Development & Scripting II (Spring 2024) 
Author: Edilvan E. Falcon
Instructor: David Kazaryan
Date Created: 2024.05.25
Description: Assignment No. 5
- MyVersion of ballBounce
*********************************************
*/

*{
   margin:0;
   padding:0;
   box-sizing: border-box; 
}

canvas{
    border: 20px solid black;
    background-color: white;
    display: block;
    margin: 0 auto;
}

#startBtn{
    background-color: green;
    border: none;
    padding: 5px 20px;
    border-radius: 5px;
    margin: 10px;
}
#stopBtn{
    background-color: red;
    border: none;
    padding: 5px 20px;
    border-radius: 5px;
    margin: 10px;
}



/* 
***************************************
EF: additonal style for speed controls
***************************************
*/


button { cursor: pointer; } /* EF: mouse pointer for all buttons */

.speedBtn{
    background-color: rgb(0, 128, 255);
    border: none;
    padding: 5px 20px;
    border-radius: 5px;
    margin: 10px;
}

.speedcontrols {
    padding: 5px 5px 5px 15px;
    border: solid 1px #00af8f;
    margin: 10px;
    border-radius: 10px;
} 

/*
Additional icons for buttons:
*/

.gg-play-button {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs,1));
    width: 22px;
    height: 22px
   }
   
   .gg-play-button::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    width: 0;
    height: 10px;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 6px solid;
    top: 6px;
    left: 9px
   } 

